<div class="center hero-unit">	
	<h5>Enter Model No., Manufacturer, tech spec of product you are looking for....</h5>
	<div class="search-text-box" style="margin-top:20px">
		<%= text_field_tag 'search-term', nil, placeholder:'Enter search term...' %> 
			<input type="button" class="btn btn-primary" onclick="searchDirectory()" value="Search!"/>
	</div>
</div>
<div id="search-results-container">
</div>